@import "colors";

@mixin button($bg, $color, $border: 0, $type: solid) {
    background: $bg;
    color: $color;
    border: $border;
    border-style: $type;
    padding: 13px 20px 13px 20px;
    border-radius: 7px;
    font-size: 16px;
    font-weight: bold;
    
    &:hover {
      @if $bg == transparent {
        box-shadow: inset 0 0 0 0px $color, 0 0 2px rgba(0, 0, 0, 0.3);
      } @else {
        background: darken($bg, 8%);
      }
    }
    
    &:active {
      background: darken($bg, 15%);
    }
}  

.btn-solid {
    @include button($primary-color, $white-color);
}

.btn-outline {
    @include button(transparent, $primary-color, 1px, solid);
    background-color: $white-color;
    color: $primary-color;
}